@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'AvertaDemo-Bold';
  src: url(../../assets/fonts/AvertaDemo-Bold.otf) format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'AvertaDemo-Reg';
  src: url(../../assets/fonts/AvertaDemo-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avertaDemo';
  src: url('../../assets/fonts/avertaDemo.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'highland';
  src: url(../../assets/fonts/HighlandGothicFLF.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url(../../assets/fonts/LeagueSpartan-Bold.otf) format('opentype');
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: 'OratorStd';
  src: url(../../assets/fonts/OratorStd.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url(../../assets/fonts/OpenSans-Light.ttf) format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'OPrestigeEliteStd';
  src: url(../../assets/fonts/PrestigeEliteStd-Bd.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pioneer10';
  src: url(../../assets/fonts/Pioneer10.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simple';
  src: url(../../assets/fonts/simplto2.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
}
